.unit-container {
  --focus-outline-width: 3px;

  max-height: 30vh;
  padding: var(--spacing-2-xs) var(--spacing-s) var(--spacing-s);
  overflow-y: auto;
  transition: max-height 0.5s ease-in-out;

  &.expanded {
    max-height: 80vh;
    transition: max-height 0.5s ease-in-out;

    @media only screen and (min-width: 768px) {
      max-height: unset;
    }
  }

  @media only screen and (min-width: 768px) {
    max-height: unset;
    height: 100%;
  }

  h3 {
    margin: var(--spacing-xs) 0;

    font-size: var(--fontsize-heading-xs);
    line-height: 1.1;
  }

  p {
    margin-bottom: 10px;

    &.no-margin {
      margin-bottom: 0;
    }

    &.small-margin {
      margin-bottom: var(--spacing-3-xs);
    }
  }

  .modal-body-list li {
    margin-bottom: var(--spacing-xs);
  }

  &-header {
    padding: var(--spacing-2-xs) var(--spacing-s) var(--spacing-s);
    margin: calc(0px - var(--spacing-2-xs)) calc(0px - var(--spacing-s)) 0;
    color: var(--color-white);
    border: none;
    background-color: $ui-content;

    &-container {
      width: 100%;
    }

    &-bar {
      display: flex;
      align-items: flex-start;
      color: var(--color-white);
      padding: var(--spacing-2-xs) var(--spacing-2-xs) var(--spacing-2-xs) var(--spacing-s);
      flex-direction: column;
    }

    &-name-wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: var(--spacing-xs);
      align-items: center;
    }

    &-name {
      display: flex;
      justify-content: space-between;
    }

    &-description {
      font-size: var(--fontsize-body-s);
      display: flex;


      .unit-icon {
        margin-right: var(--spacing-s);
        font-size: var(--spacing-xl);
        line-height: 1;
      }
    }

    &-description-text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin-bottom: var(--spacing-3-xs);
      }

      p:last-of-type {
        margin-bottom: 0;
      }
    }

    &-service-name::first-letter {
      text-transform: uppercase;
    }

    &-unit-address-municipality {
      text-transform: capitalize;
    }
  }

  &-body {
    padding: $gap 0;

    a {
      color: var(--color-bus);
    }

    &-box {
      background: var(--color-white);
      padding: var(--spacing-2-xs) var(--spacing-s);
      margin: calc(0px - var(--spacing-2-xs)) calc(0px - var(--spacing-s));
      align-items: center;

      &:empty {
        display: none;
      }

      &.no-margin-top {
        margin-top: 0 !important;
      }

      &-headline {
        font-weight: 700;
        margin-bottom: var(--spacing-3-xs);
        font-size: var(--fontsize-heading-xxs);
      }

      &-icon-and-value-wrapper {
        margin: calc($gap / 2) 0 0 0;
      }

      &-icon-and-value {
        display: inline-flex;
        align-items: center;
        margin: 0 calc($gap * 2) $gap 0;

        svg {
          background-color: rgba($ui-content, .1);
          color: $ui-content;
          padding: 2px;
          font-size: 2em;
          flex-grow: 0;
          margin-right: calc($gap / 1.5);
          border-radius: var(--spacing-3-xs);
        }
      }
    }

    &-multi-line {
      white-space: pre-wrap;

      &:not(:first-of-type) {
        margin-top: var(--spacing-s);
      }

      & > * {
        display: inline-block;
      }
    }

    &-list {
      padding: 0;
      margin: 0;
      list-style-type: none;

      & > li {
        margin-bottom: var(--spacing-2-xs);
      }
    }
  }

  &-close-button {
    &:hover {
      cursor: pointer;
    }
  }
}

.unit-details-mobile-footer {
  @media only screen and (min-width: 768px) {
    display: none;
  }

  padding: var(--spacing-3-xs) var(--spacing-s);
  text-align: right;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-black-20);

  &-icon {
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;

    &-expanded {
      transform: rotate(-180deg);
      transition: transform 0.5s ease-in-out
    }
  }
}
.water-quality{
  &-normal {
    background-color: #008450;
  }
  &-possibly_impaired {
    background-color: #EFB700;
  }
  &-probably_impaired {
    background-color: #EFB700;
  }
  &-error {
    background-color: #a8b5c2;
  }
}
