# Copy this to .env

# Servicemap API
REACT_APP_API_URL=https://api.hel.fi/servicemap/v2

# Digitransit Geocoding API
REACT_APP_DIGITRANSIT_API_URL=https://api.digitransit.fi/geocoding/v1
REACT_APP_DIGITRANSIT_API_KEY=

REACT_APP_APP_NAME=outdoors-sports-map
REACT_APP_MAP_URL_TEMPLATE="https://maptiles.api.hel.fi/styles/hel-osm-light-{language}/{z}/{x}/{y}{suffix}.png"
