{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "env": {
    // explicit environment
    "browser": true,
    "es6": true,
    "jest": true,
    "node": false
  },
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ]
}