.observation-status {
  &__bar {
    padding: 0 2px;
    width: 100%;
    text-transform: uppercase;
    font-size: 0.8em;
    color: $ui-text;

    &--good {
      --background-color: #72bc3d;
      --color: var(--color-black);
      
      margin-bottom: var(--spacing-3-xs);
    }

    &--satisfactory {
      --background-color: #f5c01a;
      --color: var(--color-black);

      margin-bottom: var(--spacing-3-xs);
    }

    &--unusable {
      --background-color: var(--color-black);
      --color: var(--color-white);

      margin-bottom: var(--spacing-3-xs);
    }

    &--unknown {
      --background-color: var(--color-black-30);
      --color: var(--color-black);

      margin-bottom: var(--spacing-3-xs);
    }
  }

  &__time {
    color: $content-text-secondary;
    font-size: 12px;
  }
}
