.unit-filters {
  max-width: 100%;
  width: 100%;
  position: relative;
  background: $ui-content;
  color: $ui-text;

  &.rounded-top-corners {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &.rounded-bottom-corners {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__filters {
    position: unset;
    width: unset;
  }

  &__filters.container,
  &__options.container {
    max-width: 100%;
  }

  &__filters.row,
  &__options.row {
    padding: $gap;
  }

  &__filters.toggle-filters {
    display: flex;
    width: 100%;
    flex-wrap: wrap
  }

  &__options-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: unset;
    margin-top: $gap;

    background: $ui-disabled;
  }

  &__options {
    background: var(--color-fog-medium-light);
  }

  &__options-separator {
    margin: 0 -5px;
    border-top: 1px solid $ui-enabled;
  }

  &__edit {
    position: unset;
  }

  &__edit,
  &__option {
    padding: 0;

    &:nth-child(n + 3) {
      margin-top: $gap;
    }

    &:nth-child(even) {
      padding-left: calc($gap/2);
    }

    &:nth-child(odd) {
      padding-right: calc($gap/2);
    }
  }

  .unit-filter-button {
    width: 100%;
    background: transparent;
    border: 1px solid var(--color-white);
    color: inherit;
    padding: 2px $gap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: $border-radius;
    font-size: 14px;
    line-height: 1;
    min-height: 30px;

    @media only screen and (min-width: $breakpoint) {
      min-height: 34px;
    }

    &__icon {
      width: 24px;
      height: 24px;
      margin-right: var(--spacing-2-xs);
      font-size: $icon-size;
      line-height: 1;
    }

    &.active,
    &:active {
      background-color: var(--color-coat-of-arms-dark);
      color: var(--color-white);
      box-shadow: none;
    }

    &:hover {
      background-color: var(--color-coat-of-arms-dark);
      border-color: var(--color-white);
    }

    &:focus-visible {
      outline: 2px solid var(--color-white);
      outline-offset: 0px;
    }

    .dropdown-indicator {
      margin-left: auto;
    }
  }

  .unit-filter-option-button {
    --background-color: var(--color-coat-of-arms);
    --background-color-hover: var(--color-coat-of-arms-dark);
    --border-color: var(--color-coat-of-arms);
    --border-color-hover: var(--color-coat-of-arms-dark);

    width: 100%;
    justify-content: flex-start;

    &.active {
      --background-color: var(--color-coat-of-arms-dark);
      --border-color: var(--color-coat-of-arms-dark);
    }

    &__icon {
      font-size: $icon-size;
      line-height: 1;
    }
  }

  .unit-filter-toggle-button {
    padding: $gap;
    color: #fff;
    flex: 1 0 auto;

    label {
      color: #fff;
      font-size: 1em;
      margin-bottom: 6px;
      font-weight: 400;
      line-height: 1;
    }

    button {
      --toggle-button-unselected-color: #{$ui-text-disabled} !important;
      height: 30px;
      border-width: 1px;
    }

    button[class*="ToggleButton-module_toggleButton"] {
      &:focus:after {
        border: none !important;
        outline: 2px solid white !important;
        outline-offset: -6px;
      }

      &[aria-pressed=true] {
        div[class*="ToggleButton-module_onIcon"] {
              margin-left: 26px !important
        }
      }
    }

    button:not([aria-pressed=true]) {
      background: transparent;
    }
  }
}
