.unit-sort-selector {
  width: 100%;

  .dropdown-toggle {
    width: 100%;
    background: $ui-content !important;
    border: 0;
    padding: $gap 2 * $gap;
    color: $ui-text !important;
    text-align: left;
    border-radius: 0;
    box-shadow: none !important;
    font-family: "Lato", sans-serif !important;

    .custom-caret {
      display: inline-block;
      position: absolute;
      right: 2 * $gap;
      font-size: 24px;
      line-height: 20px;
    }

    &.show {
      .unit-sort-selector__icon {
        transform: rotate(180deg);
      }
    }

    &:active {
      background: darken($ui-content, 10%);
    }

    &:hover {
      background: $ui-content;
      color: $ui-text;
    }

    &::after {
      display: none;
    }

    &:focus-visible {
      outline: 3px solid var(--color-focus-outline);
      outline-offset: 3px;
    }
  }

  .dropdown-menu {
    --bs-dropdown-link-active-bg: var(--color-coat-of-arms) !important;
    --bs-dropdown-link-hover-bg: var(--color-black-5) !important;

    position: relative;
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 0;
    box-shadow: none !important;
    font-family: "Lato", sans-serif !important;
    border: 1px solid var(--color-black-20);
    border-top: none;

    a {
      &:focus-visible {
        outline: 2px solid var(--color-focus-outline);
        outline-offset: 0;
      }
    
    }
  }
}
