.list-view {
  overflow: auto;

  .list-view__container {
    margin: 0;

    .list-view__block {
      border-top: 1px solid $ui-content;
      padding: $gap 0;
    }

    .list-view__items-block {
      background-color: var(--color-white);
      margin: 0 (0 - $gap) (0 - $gap);
      padding: $gap;
      min-height: 128px;
    }
  }

  .list-view-item {
    padding: 10px 0;
    display: flex;
    align-items: center;
    background: $content-background;
    margin-bottom: $gap;
    color: $content-text;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid var(--color-black-40);

    &:last-of-type {
      margin-bottom: 0;
    }

    &__unit-details {
      flex: 2 1 auto;

      .list-view-item__unit-name {
        font-weight: 700;
      }
    }

    &__unit-marker,
    &__unit-open {
      width: 50px;
      text-align: center;
      line-height: 30px;
      font-size: 30px;
    }

    &__unit-marker {
      color: $ui-content;
    }

    &__unit-open {
      color: $content-text;
    }

    &__unit-name {
      line-height: 1;
      padding-bottom: var(--spacing-3-xs);
    }

    &:hover {
      background: $list-view-item-hover;
      text-decoration: none;
    }

    &:focus-visible {
      outline: 3px solid var(--color-focus-outline);
      outline-offset: 0;
    }
  }

  &__show-more-button {
    display: block !important;
    margin: var(--spacing-s) auto calc(var(--spacing-s) - $gap) !important;
  }
}
