.loading-container {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-xl);
}

.loading-wrapper {
    display: flex;
    gap: var(--spacing-s);
    align-items: center;
    font-size: var(--fontsize-body-m);
}