.search-suggestions {
  position: fixed;
  top: 120px; // This will be overridden by inline styles
  z-index: 799;
  background: transparent;
  text-align: center;
  padding-right: 50px + 3 * $gap;
  width: calc(100% - 2 * $gap);
  box-sizing: content-box;

  &__open-all {
    margin-bottom: var(--spacing-2-xs) !important;
  }

  &__list {
    background: $content-background;
    padding: $gap;
    box-shadow: var(--box-shadow-m);
    border: 1px solid var(--color-black-20);
    border-top: none;

    max-height: 70vh;
    overflow: auto;

    &:empty {
      padding: 0;
    }
  }

  &__result {
    cursor: pointer;
    padding: $gap;
    display: flex;
    align-items: center;
    background: $content-background;
    color: $content-text;
    text-decoration: none !important;
    border-top: 1px solid var(--color-black-20);

    &:hover {
      background-color: $list-view-item-hover;
    }

    &:focus-visible {
      outline: 3px solid var(--color-focus-outline);
      outline-offset: 2px;
    }

    &-icon {
      flex: 0 1 auto;
      padding-right: $gap;
      font-size: 30px;
      line-height: 30px;
      height: 30px; 
      color: $ui-content;
      align-content: center;

      .unit-icon {
        display: flex;
      }

      img {
        display: flex;
      }
    }

    &-details {
      flex: 2 1 auto;
      text-align: left;

      &__name {
        font-weight: 700;
        margin-bottom: var(--spacing-4-xs);
      }
    }
  }

  &__address-icon {
    width: 37px;
    padding-right: 8px;
  }
}
