.search-bar {
  &__input {
    padding: $gap $gap;
    background: $ui-content;
    display: flex;
    align-items: center;
    position: relative;

    input[name="search"] {
      flex: 2 1 auto;
      display: inline-block;
      border: 2px solid $ui-content;
      border-radius: 0;
      padding: 0 $gap;
      line-height: $input-line-height;
      height: $input-height;
      font-family: "Lato", sans-serif !important;
      width: 100%;

      &:focus {
        outline: 2px solid var(--color-white);
        outline-offset: 2px;
      }
      &:disabled {
        padding-left: 40px;
      }

      &:disabled:hover {
        cursor: not-allowed;
      }
    }

    &-clear {
      position: absolute;
      right: 43px;
      border: none;
      background: none;
      color: var(--color-black-80);
      padding: var(--spacing-4-xs);

      &:focus {
        outline: 3px solid var(--color-focus-outline);
        outline-offset: -3px;
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    &-loading {
      position: absolute;
      left: 16px;
    }

    &-submit {
      flex: 0 1 auto;
      display: inline-block;
      padding: 0;
      margin-left: $gap - 2px;
      line-height: $input-line-height;
      color: $ui-text;

      border: none;
      background: none;

      &:focus {
        outline: 2px solid var(--color-white);
        outline-offset: 2px;
      }
    }
  }
}
