body {
  font-size: 14px;
}

// Override Bootstrap container max-width constraints
.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  max-width: none !important;
}

.custom-control {
  padding-left: 0;
}

.custom-control-button {
  display: block;
  background-color: #ffffff;

  font-size: 19px;
  line-height: 26px;
  text-align: center;

  border: 1px solid #ccc;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.6);
  border-radius: 20px;

  &:hover,
  &:active {
    color: #0072c6;
  }

  &:hover {
    cursor: pointer;
  }
}

.height-profile-buttons {
  display: flex;
  justify-content: right;
}

.height-profile-prev-button,
.height-profile-next-button {
  background: transparent;
  width: 30px;
  height: 30px;
  margin-top: -30px;
  border: 1px solid #ccc;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:active {
    color: #0072c6;
  }

  &:hover {
    cursor: pointer;
  }
}

.heightgraph-toggle {
  margin-right: 4px;
  float: right;
}

.heightgraph-close-icon {
  background: none;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5 5.5L13.41 10.59L18.5 15.68L15.68 18.5L10.59 13.41L5.5 18.5L2.68 15.68L7.77 10.59L2.68 5.5L5.5 2.68L10.59 7.77L15.68 2.68L18.5 5.5Z' fill='%23000'/%3E%3C/svg%3E");
  width: 26px;
  height: 26px;
  padding: 3px;
}

// Re-skin bootstrap modals to visually appear more like the custom modal
// implementation they were used to replace.
.modal-content {
  border-radius: 10px;
}

.modal-header {
  padding: 1.5rem 1.5rem 1rem 1.5rem;

  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-body {
  padding: 1rem 1.5rem;
}

.modal-title {
  & > h2 {
    margin-bottom: 0;
  }
}

.modal-footer {
  padding: 1rem 1.5rem 1.5rem;

  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
