body {
  font-size: 14px;
}

.custom-control {
  padding-left: 0;
}

// Re-skin bootstrap modals to visually appear more like the custom modal
// implementation they were used to replace.
.modal-content {
  border-radius: 10px;
}

.modal-header {
  padding: 1.5rem 1.5rem 1rem 1.5rem;

  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-body {
  padding: 1rem 1.5rem;
}

.modal-title {
  & > h2 {
    margin-bottom: 0;
  }
}

.modal-footer {
  padding: 1rem 1.5rem 1.5rem;

  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#HdsCookieConsentContainer {
  position: relative;
  z-index: 100001;
}
