$header-height: 66px;
$gap: 8px;
$breakpoint: 768px;
$marker-height: 40px;
$input-line-height: 30px;
$input-height: 34px;
$icon-size: 20px;
$border-radius: 4px;

// COLORS
$ui-background: var(--color-fog, #9fc9eb);
$ui-content: #0072c6;
$ui-enabled: var(--color-coat-of-arms-dark, #005799);
$ui-disabled: #61abd3;
$ui-text: #ffffff;
$ui-text-disabled: #c1dded;
$status-ok: #72bc3d;
$status-average: #f5c01a;
$status-bad: #222;
$status-unknown: #a8b5c2;
$status-selected: #0000FF;
$content-background: #ffffff;
$content-text: #333333;
$content-text-secondary: #4d4d4d;
$unit-filter-hover: #036ea4;
$sort-selector-dropdown-hover: #30a1d5;
$list-view-item-hover: var(--color-black-5, f2f2f2);

// Lato font
@import url("https://fonts.googleapis.com/css?family=Lato:light,400,700");
