$header-height: 64px;

.map-container {
  --map-container-header-height: #{ $header-height };

  position: fixed;
  top: var(--map-container-header-height);
  right: 0;
  width: 100%;
  // Set height to full viewport height minus header height to avoid missing part of the map on bottom
  height: calc(100vh - var(--map-container-header-height));
}

.map-foreground {
  --map-foreground-header-height: #{ $header-height };

  position: fixed;
  z-index: 798;
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;

  &.is-filled {
    background-color: $ui-content;

    @media only screen and (min-width: 768px) {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }

    &.fill-color-background {
      // When foreground is filled with background color, it should always fill
      // the entire screen height, but not more, to enable proper behaviour with
      // scrolling.
      height: calc(100vh - var(--map-foreground-header-height));

      border-bottom: solid #4d4d4d 4px;
      background-color: $ui-background;
      box-shadow: none;
    }
  }

  @media only screen and (min-width: $breakpoint) {
    width: 400px;
    // Set height to full viewport height minus header height to avoid missing part of the foreground on bottom
    height: calc(100vh - var(--map-foreground-header-height));

    pointer-events: none;

    & > * {
      pointer-events: initial;
    }
  }

  &-content {
    overflow-y: auto;
    pointer-events: none;
    display: flex;
    flex-direction: column;

    & > * {
      pointer-events: initial;
    }

    &.hidden {
      display: none;
    }
  }

  &-unit-browser {
    height: 100%;
    pointer-events: none;

    & > * {
      pointer-events: initial;
    }

    &.hidden {
      display: none;
    }
  }
}

.home-container {
  @media only screen and (min-width: 768px) {
    display: none;
  }

  padding: 10px;
  color: var(--color-info-light);
  text-align: right;

  &-icon {
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;

    &-expanded {
      transform: rotate(-180deg);
      transition: transform 0.5s ease-in-out
    }
  }
}

.app-header {
  --header-max-width: unset !important;
  --action-bar-container-height: #{ $header-height } !important;

  z-index: 1000;

  // Hide the logo element
  a[class*="HeaderActionBar-module_titleAndLogoContainer"][class*="HeaderActionBar-module_logo"] {
    display: none;
  }

  // Fix alignment of text and icon in the info dropdown button
  #app-info-dropdown {
    button {
      div[class*="HeaderActionBarItemButton-module_buttonContent"] { 
        span {
          align-items: center;
          display: flex;
        }
      }
    }
  }

  // Set background color for dropdown menu
  #app-info-dropdown-dropdown {
    background-color: var(--header-background-color);
  }

  // Adjust margin for title to align it properly vertically
  a[class*="HeaderActionBar-module_normal"]>[class*="HeaderActionBar-module_title"] {
        margin-top: 2px;
    }

  @media only screen and (max-width: 767px) {
    // Increase font size for title on small screens
    a[class*="HeaderActionBar-module_normal"]>[class*="HeaderActionBar-module_title"] {
        font-size: var(--fontsize-body-l);
    }
  }
}
